@import "../../../styles/_main.scss";

.trending_parent {

    padding: 6% 8%;
    width: 100%;

    h1 {
        font-family: $mont;
        font-size: 40px;
        font-weight: 700;
        color: $black;
        letter-spacing: 0.13rem;
        line-height: 1.2;
        text-align: center;
    }

    hr {
        height: 2.5px;
        width: 10%;
        border: 2.5px solid $grey;
        margin: auto;
        margin-bottom: 80px;
    }


    .trendingcards_parent {

        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .buttons_div {
        display: flex;
        justify-content: center;
        margin-top: 80px;

        button {
            font-family: $pop;
            font-size: 17px;
            font-weight: 600;
            letter-spacing: 0.1rem;
            padding: 10px 30px;
            border-radius: 10px;
            border: 3px solid #121024;
            width: 300px;
            background-color: #10C79C;
            color: white;
            white-space: nowrap;
        }
    }


}