@import "../../../styles/_main.scss";

.howitworks_parent {

    padding: 6% 8%;
    width: 100%;

    h1 {
        font-family: $mont;
        font-size: 40px;
        font-weight: 700;
        color: $black;
        letter-spacing: 0.13rem;
        line-height: 1.2;
        text-align: center;
    }

    hr {
        height: 2.5px;
        width: 10%;
        border: 2.5px solid $grey;
        margin: auto;
        margin-bottom: 80px;
    }

    .col {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .iconround {
            float: none;
            display: inline-block;
            font-size: 65px;
            background: #fff;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            text-align: center;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
            position: relative;

            .uparrow {
                position: absolute;
                left: 176px;
                top: 54px;
            }

            .downarrow {
                transform: scaleY(-1);
                position: absolute;
                left: 184px;
                top: 54px;
            }

            .steps {
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: $yellow;
                font-size: 16px;
                color: $black;
                text-align: center;
                line-height: 40px;
                top: 15px;
                left: -15px;
            }

            .icons {
                width: 50px;
                height: 50px;

            }

            .firsticon {
                position: absolute;
                top: 35px;
                left: 35px;
            }

            .secondicon {
                position: absolute;
                top: 35px;
                left: 38px;
            }

            .thirdicon {
                position: absolute;
                top: 35px;
                left: 35px;
            }
        }


        .col_title {
            font-family: $pop;
            float: left;
            width: 100%;
            font-size: 23px;
            font-weight: bold;
            color: #212121;
            margin-top: 30px;
            margin-bottom: 12px;

        }

        .col_desc {
            font-family: $pop;
            float: left;
            width: 100%;
            font-size: 15px;
            color: #8d8d8d;
            margin: 0;
            line-height: 24px;
            padding: 0 20px;
            margin-top: 5px;


        }
    }

}

@media screen and (max-width:1000px) {

    .uparrow,
    .downarrow {
        display: none;
    }

    .col {
        margin-bottom: 50px;
        width: 360px;
        min-width: 360px;
    }
}