@import "../../../styles/_main.scss";


.pf_services_parent {
    padding: 8% 0%;

    h1 {
        font-family: $mont;
        font-size: 50px;
        font-weight: 700;
        color: #121024;
        letter-spacing: 0.13rem;
        line-height: 1.2;
        margin-bottom: 20px;
        text-align: center;
    }

    hr {
        height: 2.5px;
        width: 20%;
        border: 2.5px solid $grey;
        margin: auto;
        margin-bottom: 80px;
    }

    .pf_services_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 2rem;
    }
}